@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
header{
    width: 100%;
    height: 44px;
    background-color: #7E33E0;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

select {
    border: none;
    color: #FB2E86;
    width: none;
}

.first-nav select {
    color: #F1F1F1;
    font-family: "Josefin Sans";
    font-size: 10px;
    font-weight: 350;
    background-color: #7E33E0;
}

.test {
    border: 2px solid red;
}

.container {
    max-width: 1077px;
}

.first-nav {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 350;
    align-items: center;
    gap: .4em;
    font-family: "Josefin Sans";
    color: #F1F1F1;
    background-color: #7E33E0;
}

@media(min-width:640px) {
    .first-nav {
        display: flex;
        font-size: 12px;
        font-weight: 700;
        margin: auto;
        height: 44px;
        flex-direction: row;
        justify-content: space-around;
    }

    .div {
        padding-left: 1em;
        /* gap: 5rem; */
    }

    .item1 .div .first-icon {
        padding-right: 1rem;
        height: 1.5em;
        width: 2em;
    }

    .item2 .div select {
        font-size: 12px;
        font-weight: 700;
    }
}

@media(min-width:768px) {
    .first-nav {
        font-size: 16px;
        margin: auto;
        font-weight: 500;
        height: 44px;
        flex-direction: row;
        justify-content: space-around;
    }

    .item2 .div select {
        font-size: 16px;
        font-weight: 700;
    }
}

.first-nav ul {
    display: flex;
    /* gap: 1rem; */
}

.div {
    display: flex;
    align-items: center;
}

.div span .first-icon {
    height: 1.5em;
    width: 2em;
}


/* Second Navigation */

.second-nav select {
    margin: 0;
    background-color: #F1F1F1;
}

.second-nav {
    display: flex;
    position: relative;
    margin: auto;
    padding: .5rem;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-family: "Josefin Sans";
    font-weight: 500;
    font-size: 20px;
}

/* Sidebar */
.nav-items {
    padding-left: .5rem;
    font-family: "Lato";
    font-size: 12px;
}

.nav-items {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #F1F1F1;
    z-index: 8;
    transition: all .5s;
    transform: translateX(100%);
}

.active {
    position: fixed;
    border: 2px;
    transition: all 1s;
    transform: translate(0);
    background-color: #F1F1F1;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
}

.bg-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.search-bar {
    position: fixed;
    display: flex;
    height: 25px;
    width: 50%;
    right: 0;
    transform: translateX(100%);
}

@media(min-width:640px) {
    .second-nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .5rem;
        justify-content: space-evenly;
        align-items: center;
    }

    .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding-left: 2rem; */
        gap: 2rem;
    }

    .nav-items {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background-color: #ffff;
        /* z-index: 0; */
        transform: translateX(0);
    }

    .menu-icon1 {
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
    }

    .menu-icon {
        display: none;
        font-size: 16px;
    }

    .search-bar {
        position: relative;
        padding-left: 1rem;
        display: flex;
        flex-wrap: wrap;
        width: 150px;
        height: 15px;
        right: 0;
        transform: translateX(0);
    }
    .search-bar input{
        width: 100%;
    }
    .search-bar .second-icon{
        position: absolute;
        top: 10px;
        background-color: #FB2E86;
        right: 0;
        height: 1.1rem;
        color: #ffff;
        font-size: larger;
        width: 1.111rem;
        transform: translateY(-50%);
    }
    .second-nav select {
    margin: 0;
    background-color: #ffff;
}
}

/* For Min-Width of 1024px */
@media(min-width:1024px){
      .second-nav {
        display: flex;
        flex-wrap: wrap;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: .5rem;
        justify-content: space-evenly;
        align-items: center;
    }

    .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        /* padding-left: 2rem; */
        gap: 2rem;
    }

    .nav-items {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        background-color: #ffff;
        /* z-index: 0; */
        transform: translateX(0);
    }

    .menu-icon1 {
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
    }

    .menu-icon {
        display: none;
        font-size: 16px;
    }

    .search-bar {
        position: relative;
        padding-left: 1rem;
        display: flex;
        flex-wrap: wrap;
        width: 317px;
        height: 15px;
        right: 0;
        transform: translateX(0);
    }
    .search-bar input{
        width: 100%;
    }
    .search-bar .second-icon{
        position: absolute;
        top: 10px;
        background-color: #FB2E86;
        right: 0;
        height: 1.1rem;
        color: #ffff;
        font-size: larger;
        width: 1.111rem;
        transform: translateY(-50%);
    }
    .second-nav select {
    margin: 0;
    background-color: #ffff;
}

}